* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    width: 90%;
    height: 95%;
    margin: auto;
    background-color: white;
}
    /* LEFT SIDE */

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    /*debug*/
    background-color: orange;
}

.left-container {
    /*debug*/
    background-color: greenyellow;
}

.left-top {
    /*debug*/
    background-color: hotpink;
}

.left-search-box {
    /*debug*/
    background-color: deepskyblue;
}

.left-user-box {
    /*debug*/
    background-color: green;

}


/* RIGHT SIDE */

.right-top {
    /*debug*/
    background-color: red;

}

.right-chat-area {
    /*debug*/
    background-color: blueviolet;

}

.right-message-box {
    /*debug*/
    background-color: cornflowerblue;

}