* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    width: 90%;
    height: 95%;
    margin: auto;
    background-color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
    /*debug*/
    /*background-color: orange;*/
}

/* LEFT SIDE */

.active {
    background-color: #ebebeb;
    transition: all 300ms;
}

.left-container {
    width: 25%;
    min-width: 300px;
    height: 100%;
    border-right: 1px solid darkgrey;
    /*debug*/
    /*background-color: greenyellow;*/
}

.left-top {
    display: flex;
    justify-content: space-around;
    background-color: #ededed;
    /*debug*/
    /*background-color: hotpink;*/
}

.left-top .box-img img {
    width: 40px;
    margin: 15px 20px;
    border-radius: 50%;
}

.left-top .box-icon-left-mac {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.left-top .box-icon-left-mac .icon {
    margin: 0 4px;
    font-size: 12px;
}

.left-top .box-icon-left-mac .icon:first-child {
    color: lightcoral;
}

.left-top .box-icon-left-mac .icon:nth-child(2) {
    color: goldenrod;
}
.left-top .box-icon-left-mac .icon:last-child {
    color: limegreen;
}

.left-top .box-icon-left-app, .box-icon-right-app {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.left-top .box-icon-left-app .icon, .box-icon-right-app .icon {
    margin: 0 10px;
    color: #50585d;
}

/* left disclaimer */

.left-disclaimer {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 30px;
    background-color: #9ddefe;
    font-size: 12px;
}

.left-disclaimer i {
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    background-color: white;
    color: #9ddefe;
    text-decoration: none;
}

.left-disclaimer-text a {
    text-decoration: none;
    color: gray;
    font-weight: 300;

}

/* left side - SEARCH */

.left-search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: #f6f6f6;
    padding: 18px;
    /*debug*/
    /*background-color: deepskyblue;*/
}

.left-search-box .input-box {
    background-color: white;
    border-radius: 25px;
    padding: 8px 10px;
    width: 100%;
    text-align: left;
    font-size: 10px;
    /*debug*/
    /*background-color: deepskyblue;*/
}

.left-search-box .input-box i {
    padding-right: 10px;
}

.search-input {
    border: none;
    width: 75%;
}

/* left side - USER */

.left-user-box .user-box {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #f6f6f6;
    height: 75px;
    cursor: pointer;
    /*debug*/
    /*background-color: green;*/
}

.left-user-box .user-box .img-box {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.left-user-box .user-box .img-box img {
    width: 50px;
    margin-top: 10px;
    border-radius: 50%;
}

.left-user-box .user-box .text-box {
    margin: 0 20px;
    flex-grow: 1;
}

.left-user-box .user-box .text-box p:first-child {
    font-size: 18px;
    font-weight: 300;
    color: black;
    padding-bottom: 5px;
}

.left-user-box .user-box .text-box p:last-child {
    font-size: 12px;
    color: #898989;
    font-weight: 300;
}

.left-user-box .user-box .data-box {
    width: 65px;
    margin-right: 10px;
}

.left-user-box .user-box .data-box p, .text-box p{
    font-size: 12px;
    font-weight: 300;
    color: #898989;
}


/* RIGHT SIDE */

.right-container {
    position: relative;
    flex-grow: 1;
    height: 100%;
    background-image: url("../img/bg-boolzapp-3.jpg");
    background-repeat: repeat;
    background-size: 400px;
    /*debug*/
    /*background-color: red;*/
}

.right-container .right-top {
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    height: 77px;
    /*debug*/
   /* background-color: red;*/
}

.right-container .right-top .user-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container .right-top .user-box .img-box {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.right-container .right-top .user-box .img-box img {
    width: 50px;
    margin-top: 10px;
    border-radius: 50%;
}

.right-container .right-top .user-box .text-box {
    margin-left: 20px;
}

.right-container .right-top .user-box .text-box p:first-child {
    font-size: 16px;
    color: #000;
}

.right-container .right-top .user-box .text-box p:last-child {
    font-size: 12px;
    color: gray;
    cursor: pointer;
}

/* CHAT AREA */

.right-container .right-chat-area {
    height: calc(100% - 70px - 70px);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    /*debug*/
    /*background-color: blueviolet;*/

}

.right-container .right-chat-area .chat-box {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.right-container .right-chat-area .chat-box i {
    color: lightgrey;
}

.right-container .right-chat-area .chat-box .userMsg {
    display: flex;
    align-self: flex-start;
    width: 60%;
}

.right-container .right-chat-area .chat-box .userMsg p{
    position: relative;
    min-width: 100px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    color: #303334;
    background-color: white;
}

.right-container .right-chat-area .chat-box .myMsg {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    width: 50%;
}

.right-container .right-chat-area .chat-box .myMsg p {
    position: relative;
    min-width: 100px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    color: #303334;
    background-color: #ddf7c8;
}

.right-container .right-chat-area .chat-box span {
    position: absolute;
    bottom: 3px;
    right: 10px;
    font-size: 10px;
    font-weight: 300;
    color: #898989;
}

.right-container .right-chat-area .chat-box i {
    position: absolute;
    right: 10px;
}

/* INPUT MESSAGE */

.right-container .right-message-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    position: absolute;
    height: 65px;
    width: 100%;
    /*debug*/
    /*background-color: cornflowerblue;*/
}


.right-container .right-message-box .input-box {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-container .right-message-box .input-box .search-input {
    background-color: white;
    border-radius: 20px;
    border: none;
    padding:10px;
    text-align: left;
    flex-grow: 1;
}

.right-container .right-message-box .input-box i {
    font-size: 20px;
    color: #50585d;
    margin: 0 15px;
    cursor: pointer;
}