* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    width: 90%;
    height: 95%;
    margin: auto;
    background-color: white;
}

    /* LEFT SIDE */

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    /*debug*/
    background-color: orange;
}

.left-container {
    width: 25%;
    min-width: 300px;
    height: 100%;
    border-right: 1px solid darkgrey;
    /*debug*/
    /*background-color: greenyellow;*/
}

.left-top {
    display: flex;
    justify-content: space-between;
    background-color: #ededed;
    /*debug*/
    /*background-color: hotpink;*/
}

.left-top .box-img img {
    width: 40px;
    margin: 15px 20px;
    border-radius: 50%;
}

.left-top .box-icon-left {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.left-top .box-icon-left .icon {
    margin: 0 4px;
    font-size: 12px;
}

.left-top .box-icon-left .icon:first-child {
    color: lightcoral;
}

.left-top .box-icon-left .icon:nth-child(2) {
    color: goldenrod;
}
.left-top .box-icon-left .icon:last-child {
    color: limegreen;
}

.left-top .box-icon-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}


.left-top .box-icon-right .icon {
    margin: 0 10px;
}

.left-search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #f8f8f8;
    padding: 25px;
    /*debug*/
    /*background-color: deepskyblue;*/
}

.left-search-box .input-box {
    background: white;
    border-radius: 20px;
    padding: 5px 15px;
    width: 100%;
    text-align: left;
    font-size: 10px;
    /*debug*/
    /*background-color: deepskyblue;*/
}

.search-input {
    border: none;
    text-align: center;
    width: 68%;
}

.left-user-box {
    /*debug*/
    /*background-color: green;*/
}


/* RIGHT SIDE */

.right-container {
    position: relative;
    flex-grow: 1;
    height: 100%;
    background-image: url("../img/bg-boolzapp-1.jpg");
    background-repeat: repeat;
    background-size: 300px;
    /*debug*/
    /*background-color: red;*/
}

.right-top {
    /*debug*/
   /* background-color: red;*/

}

.right-chat-area {
    /*debug*/
    /*background-color: blueviolet;*/

}

.right-message-box {
    /*debug*/
    /*background-color: cornflowerblue;*/

}